.historydetails{
    display:flex;
}
.historycontainer{
    display:flex;
    justify-content: space-between;
   

}
.imageicon{
    height:3vh;
    padding:10px;
    margin-top: 8px;
}
.timer{
    font-size:12px;
    padding:10px;
}
.sitename{
    font-size: 12px;
    padding-top: 10px;
    margin-right: 8px;
    color:#475569;

}
.siteurl{
   font-size: 12px; 
   padding-top: 10px;
}
.deletecontainer{
    margin:20px;
}