.header{
  display:flex;
  background-color: #3367d6;
  height:6vh;
  color: #ececec;
  
 
}
.historyicon{
  height:3vh;
  padding:1.5vh;
  padding-left:20px;
}
.searchinputicon{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  
}
.iconcontainer{
  background-color: #2850a7;
  height:3vh;
  width:5vh;
  margin-right:2px;;
}
.searchicon{
 height:16px;
 padding-top:5px;
 padding-left:10px;



}
.inputbox{
  width:30vw;
  background-color: #2850a7;
  height:3vh;
  border:none;
  padding:10px;
  
}

.viewhistorycontainer{
background-color: white;
 box-shadow: 0px 4px 16px 0px;
 margin:40px;
}
.elseviewhistorycontainer{
  display:flex;
  height:80vh;
  width:100vw;
  justify-content: center;
  align-items: center;

}
.emptymessage{
  color:#2850a7;
  font-size: 20px;
}